# pycache
__pycache__/
*.pyc

__init__.py

# environment file
environment.yml

# personal data and config
data/raw/personal/
data/processed/personal/
data/references/categories.json
config/config_local.yml
_old/
notebook/EDA.ipynb